name: Build and Deploy to EC2

on:
  push:
    branches: [  ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Gradle build
        env:
          AWS_RDS_URL: ${{ secrets.AWS_RDS_URL }}
          AWS_MASTER_USER_NAME: ${{ secrets.AWS_MASTER_USER_NAME }}
          AWS_MASTER_USER_PASSWORD: ${{ secrets.AWS_MASTER_USER_PASSWORD }}
          NAVER_ID: ${{ secrets.NAVER_ID }}
          NAVER_PASSWORD: ${{ secrets.NAVER_PASSWORD }}
        run: ./gradlew clean build

      - name: Show structure of artifact files
        run: ls -ahl ./build/libs/*.jar

      - name: Deploy Prod use SCP
        uses: appleboy/scp-action@master
        with:
          username: ${{ secrets.AWS_USERNAME }}
          host: ${{ secrets.AWS_HOST }}
          key: ${{ secrets.AWS_EC2_PEM }}
          source: "./build/libs/*.jar"
          target: "/home/ubuntu"
          strip_components: 2

      - name: Transfer Deploy Script use SCP
        uses: appleboy/scp-action@master
        with:
          username: ${{ secrets.AWS_USERNAME }}
          host: ${{ secrets.AWS_HOST }}
          key: ${{ secrets.AWS_EC2_PEM }}
          source: "deploy.sh"
          target: "/home/ubuntu"

      - name: Execute Server Init Script
        uses: appleboy/ssh-action@master
        with:
          username: ${{ secrets.AWS_USERNAME }}
          host: ${{ secrets.AWS_HOST }}
          key: ${{ secrets.AWS_EC2_PEM }}
          script_stop: true
          script: chmod +x /home/ubuntu/deploy.sh && sh /home/ubuntu/deploy.sh